<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c3c66d">  <td>21/01/20 11:50:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeeAttendCalendarPageTest.verifyEmployeeAttendancePage()[pri:10, instance:mypageTest.EmployeeAttendCalendarPageTest@67d48005]">verifyEmployeeAttendancePage</td> 
  <td>main@873610597</td>   <td></td> </tr>
<tr bgcolor="c3c66d">  <td>21/01/20 11:50:13</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeeAttendCalendarPageTest.verifyEmployeeview()[pri:9, instance:mypageTest.EmployeeAttendCalendarPageTest@67d48005]">verifyEmployeeview</td> 
  <td>main@873610597</td>   <td></td> </tr>
</table>
