<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="767ab2">  <td>21/01/22 10:35:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String)[pri:0, instance:mypageTest.AdminDailyAttendPageTest@59309333]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="767ab2">  <td>21/01/22 10:39:15</td>   <td>211667</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.teardown()[pri:0, instance:mypageTest.AdminDailyAttendPageTest@59309333]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="74bf60">  <td>21/01/22 10:35:59</td>   <td>15530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminDailyAttendPageTest.verifyAdminDailyViewFlow()[pri:13, instance:mypageTest.AdminDailyAttendPageTest@59309333]">verifyAdminDailyViewFlow</td> 
  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="74bf60">  <td>21/01/22 10:35:55</td>   <td>10722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminDailyAttendPageTest.verifyAdminLogin()[pri:12, instance:mypageTest.AdminDailyAttendPageTest@59309333]">verifyAdminLogin</td> 
  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="74bf60">  <td>21/01/22 10:36:08</td>   <td>24051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminDailyAttendPageTest.verifyAdminMonthlyViewFlow()[pri:14, instance:mypageTest.AdminDailyAttendPageTest@59309333]">verifyAdminMonthlyViewFlow</td> 
  <td>main@1025309396</td>   <td></td> </tr>
</table>
